<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dianhp.shoppingfun">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/poster_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dianhp.shoppingfun.MainActivity" />
        <activity android:name="com.dianhp.shoppingfun.Makeup" />
        <activity android:name="com.dianhp.shoppingfun.Bags" />
        <activity android:name="com.dianhp.shoppingfun.Shoes" />
        <activity android:name="com.dianhp.shoppingfun.Clothing" />
        <activity android:name="com.dianhp.shoppingfun.Login" />
        <activity android:name="com.dianhp.shoppingfun.UserDashboard" />
        <activity android:name="com.dianhp.shoppingfun.SplashScreen">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>